td {
    width: 46px;
    height: 46px;
    font-size : 16px;
}

.Calendar { 
    text-align: center;
    margin: 0 auto; 
}

.Calendar>thead>tr:first-child>td { 
    font-weight: bold;    
}

.Calendar>thead>tr:last-child>td {
    color: #a3a3a3;
}

.pastDay{ 
    color : #a3a3a3;
}

.today{            
    color : #757575;
    cursor: pointer;
}

.futureDay{            
    background-color: #FFFFFF;
    color : #757575;
    cursor: pointer;
}

.futureDay.choiceDay, .today.choiceDay{            
    background-color: #F16B6C;
    border-radius : 30px;
    color: #fff;
    cursor: pointer;
}

.iconCalPrev{
    width : 48px;
    height : 48px;
    background-image : url('../image/iconCalPrev.png');
    background-repeat: no-repeat;
    background-position : 12px 12px;
}

.iconCalNext{
    width : 48px;
    height : 48px;    
    background : url('../image/iconCalNext.png');
    background-repeat: no-repeat;
    background-position : 12px 12px;
}


@media screen and (max-width : 578px){    
    td {
        width: 36px;
        height: 36px;
        font-size : 12px;
    }

    .iconCalNext{
        width : 36px;
        height : 36px;        
        background-position: 9px 9px;
    }

    .iconCalPrev{
        width : 36px;
        height : 36px;        
        background-position: 9px 9px;
    }

}