body{
    margin : 0;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

/*
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Variable.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 
*/

* {
    font-family: 'Pretendard Variable';
    letter-spacing: -0.5px;
}

a {
    text-decoration: none;
    color : black;
    display: block;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


.color_white {
    color : white;
}

.d-none {
    display: none;
}

.color_gray3 {
    color : #a3a3a3;
}

.color_gray2 {
    color : #757575;
}

.color_black {
    color : black;
}

.color_primary {
    color : #F16B6C;
}

.bg_color_primary{
    background-color: #F16B6C;
}

.bg_black {
    background-color: #292929;
}

.bg_gray1 {
    background-color: #474747;
}
.bg_gray2 {
    background-color: #757575;
}
.bg_gray3 {
    background-color: #A3A3A3;
}
.bg_gray4 {
    background-color: #d1d1d1;
}
.bg_gray5 {
    background-color: #e8e8e8;
}

.bg_gray6 {
    background-color : #F8f8f8;
}

.border_primary{
    box-sizing : border-box;
    border : #F16B6C 2px solid;
    border-radius: 10px;
}

.bg_white {
    background-color: #f5f5f5;
}

.bg_white_true {
    background-color : white;
}

.gray2 {
    color: #757575;
}

.fw-normal{
    font-weight: normal;
}

.fw-bold{
    font-weight: bold;
}

.f-white{
    color : white;
}

.br10{
    border-radius : 10px;
}

h1{
    font-weight : 700;
    font-size : 40px;
}

h2{
    font-weight : 700;
    font-size : 36px;
}

h3{
    font-weight : 700;
    font-size : 32px;
}

h4{
    font-weight : 700;
    font-size : 28px;
}


.subtitle1 {
    font-weight: 700;
    font-size : 24px;    
}
.subtitle2 {
    font-weight: 700;
    font-size : 22px  
}
.subtitle3 {
    font-weight: 700;
    font-size : 20px;
}

.text1{
    font-weight: 700;
    font-size : 18px;
}
.text2{
    font-weight: 700;
    font-size : 16px;
}
.text3{
    font-weight: 700;
    font-size : 14px;
}
.text4{
    font-weight: 700;
    font-size : 12px;
}

.fs12{
    font-size : 12px;    
}

.fs2418{
    font-size : 24px;
}

.fs20{
    font-size : 20px;
}

.fs40{
    font-size : 40px;
}

.fs2014{
    font-size : 20px;
}
.fs2012{
    font-size : 20px;
}

.fs1814{
    font-size : 18px;    
}

.fs1412{
    font-size : 14px;
}    

.fs1410{
    font-size : 14px;
}
.fs1612{
    font-size : 16px;
}
.fs1812{
    font-size : 18px;
}

.fs3224{
    font-size : 32px;
}

.fs1614{
    font-size : 16px;
}

.fs1610{
    font-size : 16px;
}

.fs2216{
    font-size : 22px;
}

.fs2820{
    font-size : 28px;    
}

body .mobile {
    display: none;
}

.gray5Box{
    background-color : #f5f5f5;
    border-radius: 10px;
}

.d-flex{
    display : flex;
}

.direction-column{
    flex-direction: column;
}

.direction-row{
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.checkboxDiv{
    display:flex;
    justify-content: left;
    gap : 10px;
    align-items: center;    
}

.items-center{
    align-items: center;
}

.line.hor{
    margin : 26px 0;
    width : 100%;
    height : 2px;
    background : #f5f5f5;
}

.line.ver{
    margin : 0 20px;
    width : 2px;
    height : 20px;
    background : #f5f5f5;
}
.new.icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background-color: #F16B6C;
    margin-left: 10px;
}

.p20{
    padding : 20px;
}
.p40{
    padding : 40px;
}

.pt20{
    padding-top : 20px;
}

.pd20{
    padding-bottom : 20px;
}

.pd34{
    padding-bottom : 34px;
}

.pb140{
    padding-bottom : 140px;
}
.mt20{
    margin-top : 20px;
}

.mt11060{
    margin-top : 110px;
}

.ml20{
    margin-left: 20px;
}
.mb6{
    margin-bottom : 6px;
}
.mb0614{
    margin-bottom : 6px;
}
.mb12{
    margin-bottom : 12px;
}
.mb20{
    margin-bottom : 20px;
}

.mb30{
    margin-bottom : 30px;
}

.mb40{
    margin-bottom : 40px;
}

.mb50{
    margin-bottom : 50px;
}

.mb60{
    margin-bottom : 60px;
}

.mb6030{
    margin-bottom : 60px;
}

.mb6040{
    margin-bottom : 60px;
}
.mb7080{
    margin-bottom : 80px;
}



.mb34{
    margin-bottom : 34px;
}

.mb14{
    margin-bottom : 14px;
}

.mb10{
    margin-bottom : 10px;
}



.m0{
    margin : 0 !important;
}

.mb1004{
    margin-bottom : 10px;
}

.mb10060{
    margin-bottom : 100px;
}

.mb1404{
    margin-bottom : 14px;
}

.mb3420{
    margin-bottom : 34px;
}

.mb3010{
    margin-bottom : 30px;
}
.mb3020{
    margin-bottom : 30px;
}

.mb1400{
    margin-bottom : 14px;
}

.mb2010{
    margin-bottom : 20px;
}
.mb60{
    margin-bottom : 60px;
}

.mb140{
    margin-bottom : 140px;
}

.error{
    display: flex;
    width : 100%;
    color : #ff4d14;
    font-size : 14px;
    justify-content: right;
    margin-top: 4px;
}
.contour.ver{
    width : 1px;
    height : calc(100% - 10px);
    min-height : 14px;
}

.footerline{
    margin : 26px 0;
    width : 100%;
    height : 1px;    
}

.basicBtn{
    width : calc(100% - 42px);
    border-radius : 10px;
    padding : 15px 20px;
    text-align: center;
}

.basicBtn.active{
    background-color: #F16B6C; 
}

input {
    width : calc(100% - 42px);
    font-size : 16px;
    padding : 15px 20px;
    border-radius: 10px;
    border : #d1d1d1 1px solid;
}

/* 

input[type=checkbox], input[type=radio]{
    width : 16px !important;
    height : 16px !important;
    accent-color : #F16B6C;
    color : white;
}
 */

.checkBoxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkBoxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right : 0;
    bottom : 0;
    width: 16px;
    height: 16px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color:  #F16B6C;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .check__line input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .check__line input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }
  .check__line input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    text-align: center; 
    background: url('../image/checkoff.png') no-repeat;  
    background-size : cover;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  /* 보여질 부분의 스타일을 추가하면 된다. */
  .check__line input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;  
    background: url('../image/checkon.png') no-repeat;  
    background-size : cover;
    background-position: center center;
    border-radius: 5px;
  }
  
  .check__line input[type="checkbox"] + label span {
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;  
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.5);
  }


.w100{
    width : 100%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
.divideBox{
    width : 100%;
    height : 1rem;
    margin : 20px 0;
    text-align: center;
    position: relative;
    color : #a3a3a3;
}

.divideBox > div:last-child {        
    width: fit-content;
    text-align: center;
    background-color: white;
    padding: 0 20px;
    position: absolute;
    z-index: 2;
    left: calc(50% - 31px);
}

.divideBox > .line{
    position: absolute;
    background-color: #f5f5f5;
    width : 100%;
    height : 2px;
    top : 50%;
}

.remodal{
    width : 648px;
    min-height : auto;
    padding: 50px;
    border-radius: 10px;
}

.popupTitle{
    font-size : 18px;
    margin-bottom : 40px;
    font-weight: 700;
}
.popupTextbox{
    width : 100%;
    height : 384px;        
    overflow-y : scroll;
    font-size : 14px;
    margin-bottom : 30px;
    text-align: left;
}
.popupResource{
    display: flex;
    min-height: 20px;
    padding: 24px 30px;
    background-color: #f8f8f8;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}
.remodal.small{
    width : 424px;
}

.remodal.small .popupTitle{
    margin-bottom : 20px;
}

.remodal div{
    box-sizing: border-box;        
}
.remodal button{
    width : 160px;
    padding : 15px 20px;
    font-size : 16px;                        
    font-weight: 700;
    border-radius : 10px;
    box-sizing: border-box;     
}

.remodalBtnArea{
    display: flex;
    justify-content: center;
    gap : 20px;        
}

.remodal-cancel{
    color : #F16B6C !important;
    border : #F16B6C 2px solid !important; 
    background: white !important;
}
.remodal-cancel:hover{
    background : none !important;
    background : white !important;
}
.remodal-confirm{
    border : #F16B6C 2px solid !important; 
    background : #F16B6C !important;
}
.remodal-confirm:hover{
    background : #F16B6C !important;
}
.remodal-disable{
    border:  #d1d1d1 2px solid !important; 
    background : #d1d1d1 !important;
}

.remodal.small {
    width : 424px;
    height : 224px;
}

.remodal-wrapper{
    padding : 0 !important;
}

div::-webkit-scrollbar {
    width: 6px; 
}
div::-webkit-scrollbar-thumb {
    height: 5px; /* 스크롤바의 길이 */
    background: #F16B6C; /* 스크롤바의 색상 */
    border-radius: 6px;
}

div::-webkit-scrollbar-track {
    background: white;
}

.cont-select {
    position: relative;
}

.btn-select {
    width: 100%;
    padding: 13px 30px 13px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-image : url('../image/arrowDown.png');
    background-position: 100px 12px;
    background-repeat: no-repeat;
}

.btn-select:hover,
.btn-select:focus {
    /* border: 1px solid #9B51E0;
    outline: 3px solid #F8E4FF; */
}

.list-member {
    display: none;
    position: absolute;
    width: 100%;
    /* top: 49px; */
    left: 0;
    padding-left : 0;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 0px #130A2E21;
    box-shadow: 0px 3px 14px 0px #130A2E08;    
    box-shadow: 0px 8px 32px 0px #130A2E12;
    box-shadow: 0px 30px 84px 0px #130A2E14;
    border-radius: 10px;
    padding : 10px 0;
    background-color: white;
}

.btn-select.on {
    background-image : url('../image/arrowUp.png');
    background-position: 100px 12px;
    background-repeat: no-repeat;
}

.btn-select.on+.list-member {
    display: block;
}

.list-member {
    list-style:none;    
}

.list-member li {
    box-sizing: border-box;
}

.list-member li button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    /* border-radius: 8px; */
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
}

.list-member li button.active {
    font-weight: 700;
    color : #F16B6C;
}


.list-member li button:hover,
.list-member li button:focus {
    background-color: #F8E4FF;
}

.mb4024{
    margin-bottom : 40px;
}
.mb9050{
    margin-bottom : 90px;
}
.onelineInputBtn{
    display : flex;
    gap : 24px;
    margin-bottom : 20px;    
}

.onelineInputBtn > button {
    width : 25%;
}
.typeTagList{
    display: flex;
}
.volunteerTypetag{
    width: fit-content;
    max-width: 108px;
    height: 18px;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 100px;
    text-align: center;
    background-color: #f8f8f8;
    color: #757575;
    gap: 10px;
}
.volunteerTypetag+.volunteerTypetag{
    margin-left: 10px;
}


.clear-both {
    clear : both;
}


.radio{
    width :24px;
    height : 24px;    
    background : url('../image/radioOff.png');
    background-size: cover;
}

.radio.active{
    background : url('../image/radioOn.png');
    background-size: cover;    
}


@media screen and (max-width : 578px){
    body {
        overflow-x: hidden;
        position: relative;
    }
    #mAside{
        margin-left: 0px;
        border-bottom: #f8f8f8 2px solid;
        padding-left : 30px;
        padding-right : 30px;
        padding-top : 10px;
        padding-bottom : 10px;        
    }
    .pc {
        display : none !important;
    }

    body .mobile{
        display : block;
    }
    h1{
        font-size : 30px;
    }
    
    h2{
        font-size : 26px;
    }
    
    h3{
        font-size : 24px;
    }
    
    h4{
        font-size : 20px;
    }
    
    .subtitle1 {
        font-size : 18px;    
    }
    .subtitle2 {
        font-size : 16px;    
    }
    .subtitle3 {
        font-size : 14px;    
    }
    
    .text1{
        font-size : 18px;
    }
    .text2{
        font-size : 16px;
    }
    .text3{
        font-size : 14px;
    }
    .text4{
        font-size : 12px;    
    }

    .fs1412{
        font-size : 12px;
    }        

    .fs1612{
        font-size : 12px;
    }        

    .fs1812{
        font-size : 12px;
    }

    .fs2012{
        font-size : 12px;
    }

    .fs2014{
        font-size : 14px;
    }
    
    .fs1814{
        font-size : 14px;
    }
    
    .fs2418{
        font-size : 18px;
    }

    .fs1614{
        font-size : 14px;
    }

    .fs1410{
        font-size : 10px;
    }
    
    .fs2216{
        font-size : 16px;
    }

    .fs3224{
        font-size : 24px;
    }

    .fs1610{
        font-size : 10px;
    }
    
    .fs2820{
        font-size : 20px;    
    }    


    .mt11060{
        margin-top : 60px;
    }
    
    .mb9050{
        margin-bottom : 50px;
    }

    .mb0614{
        margin-bottom : 14px;
    }
    .mb3010{
        margin-bottom : 10px;
    }

    .mb1404{
        margin-bottom : 4px;
    }

    .mb3420{
        margin-bottom : 20px;
    }    

    .mb3020{
        margin-bottom : 20px;
    }
    
    .mb1400{
        margin-bottom : 0px;
    }
    
    .mb1004{
        margin-bottom : 4px;
    }

    .mb2010{
        margin-bottom : 10px;
    }
        
    .mb6030{
        margin-bottom : 30px;
    }

    .mb6040{
        margin-bottom : 40px;
    }

    .mb10060{
        margin-bottom : 60px;
    }
    
    .mb7080{
        margin-bottom : 80px;
    }
    
    input {
        font-size : 12px;
    }
    
    #main{
        max-width: calc(100% - 64px);
        margin: 0 auto;
    }

    .remodal{
        width : calc(100% - 64px);
        padding : 40px 30px 30px;
        min-height: auto;
    }



    .remodal.small{
        width : calc(100% - 64px);
        padding : 40px 30px 30px;
        height: auto;
    }

    .remodal button{
        font-size : 12px;
    }
    .remodalBtnArea{
        gap : 16px;
    }
    .popupTitle{
        font-size : 14px;
        margin-bottom: 30px;
    }

    .popupTextbox{
        font-size : 10px;
        width : 100%;
        max-height : 300px;
    }        

    .onelineInputBtn{
        flex-direction: column;
        gap : 10px;
        margin-bottom : 10px;
    }
    .onelineInputBtn > button{
        width : 100%;
    }
    
    .check__line input[type="checkbox"] + label:before {
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
      }
      
      /* 보여질 부분의 스타일을 추가하면 된다. */
      .check__line input[type="checkbox"]:checked + label:after {
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;  
      }

      .radio{
        width :20px;
        height : 20px;    
      }      
}