article {
    max-width: 1320px;
    margin : 0 auto;
}

#article2, #article4, #article5{
    max-width: 100%;
}

#article1 {
    text-align: center;
}

#article1 > div {
    margin : 0 auto;
}

#article1 > div:first-child{
    padding-top : 130px;
    color : #62C89A;
    font-weight: 700;
    font-size : 32px;
}

#article1 > div:last-child{
    padding-bottom : 98px;
}

.mb0430{
    margin-bottom : 04px;
}

#article2 {
    max-width : 100%;
    height : 469px;
}

#bannerSwiper{
    position: relative;
}
#banner1 {
    background-image: url('../image/banner1.png');
    background-size : cover;
    width: 100%;    
    height : 100%;
}

.banners > div {
    max-width: 1320px;
    margin : 0 auto;
    padding-top : 234px;
    padding-bottom : 235px;
}


#banner2 {
    background-image: url('../image/banner1.png');
    background-size : cover;
    width: 100%;    
    height : 100%;
}

#bannerSwiperNavBox{    
    background-color : rgba(0, 0, 0, .25);
    width : 88px;
    height : 20px;
    border-radius: 20px;
    position : absolute;
    display: flex;
    bottom : 40px;
    right : calc((100% - 1320px)/2 );
    z-index: 10;
    padding : 10px 12px;
}

#bannerSwiperNavBox .swiper-button-next:after,
#bannerSwiperNavBox .swiper-button-prev:after {
    color : white;
    font-size: 20px;
}

#bannerSwiperNavBox .swiper-pagination {
    color : white;
    top : 9px;
    z-index : -1;
}

#article3 {
    width : 1264px;
    min-height : 426px;
}

.pictogramBox{
    display : flex;
    flex-direction: column;
    font-size : 24px;
    width : 420px;
    height : 426px;
    box-sizing: border-box;
    align-items: center;
}
.pictograms{    
    width : 100px;
    height : 90px;
    margin-top : 82px;
    margin-bottom : 40px;
}

#article3 .line{
    width : 2px;
    height : 250px;
    background : #e8e8e8;
}

#pictogram1{
    background-image : url('../image/arispicto1.png');
    background-size : cover;
}
#pictogram2{
    background-image : url('../image/arispicto2.png');
    background-size : cover;
}
#pictogram3{
    background-image : url('../image/arispicto3.png');
    background-size : cover;
}



#article4{
    background-image: url('../image/bgArticle4.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size : cover;
}

#article4 >.mainInner>div:first-child{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

#article4 >.mainInner>div:first-child > div{
    padding : 50px;
    border-radius: 10px;
    background : #f8f8f8;
}

#a4secondBox{
    margin : 120px auto; 
}

#a4thirdBox{
    padding-bottom : 144px;
}

.thirdInfoBox{
    position: relative;   
    width: 400px;
    min-height :504px;
    overflow: visible; 
    background-color: white;
    box-shadow: 0px 4px 40px 0px #00000024;
    padding : 50px 60px;
    box-sizing : border-box;
    border-radius : 10px;
}

.pictos2{
    top : -10px;
    position : absolute;
    width : 140px;
    height : 140px;
}

.thirdInfoBox > div:nth-child(2){
    margin-top: 90px;
}

#thirdInfoPicto1{
    background-image : url('../image/arispicto4.png');
    background-size : cover;
}
#thirdInfoPicto2{
    background-image : url('../image/arispicto5.png');
    background-size : cover;
}
#thirdInfoPicto3{
    background-image : url('../image/arispicto6.png');
    background-size : cover;
}

.mainInner{
    max-width: 1320px;
    margin : 0 auto;
}


#article5{
    padding-top : 94px;
}
.reviewBox{
    width : 424px;
}

#reviewSwiper {
    margin-bottom : 200px;    
    width: 100%;
}

#reviewSwiper .swiper-slide {
    width : auto;  
}

#reviewSwiper a {
    display : inline-block;
    width : 300px;
}

.reviewImage{
    background-image: url('../image/reviewsample.png');
    background-size : cover;
    width : 100%;
    height : 229px;
    border-radius : 10px;    
}

.reviewTitle{
    margin : 20px 0;
}

.reviewTags{
    display: flex;
    gap : 10px;
    margin-bottom : 20px;
}

.reviewTag{
    font-size : 14px;
    border-radius: 10px;
    padding : 8px 14px;
    background-color: #f5f5f5;
    color : #757575;    
}

.reviewContent{
    font-size : 18px;
}



@media screen and (max-width : 578px) {
    #main {
        max-width : 100% !important;
        margin : 0 !important;
    }
    #article1{
        box-sizing: border-box;
        height : 458px;
        width : 100%;
        padding-left : 32px;
        text-align: left;
    }
    #article1 > div:first-child {
        padding-top: 68px;
        flex-direction: column;
        font-size : 24px;
    }

    #article1 > div:nth-child(3){
        flex-direction: column;
    }
    #article1> div:last-child {
        flex-direction: column;
    }

    .mb0430{
        margin-bottom : 30px !important;
    }
    
    .mb4024{
        margin-bottom : 24px;
    }
    
    .mInverse{
        background-color: #F16B6C;
        color : white;
        font-weight: 700;
    }

    #article2 {
        max-height : 410px;
    }

    .banners {
        max-height : 410px;
    }

    .banners > div {
        opacity : 0;
    }

    #banner1 {
        background-image: url('../image/banner1m.png');
    }

    #banner2 {
        background-image: url('../image/banner1m.png');
    }

    #article3{
        width : 100%;
        padding-top :40px;
        padding-bottom : 60px;
    }

    #article3 >div >div {
        flex-direction: column;
    }

    #article3 .line {
        width : 217px;
        height : 2px;
    }

    .pictogramBox{
        height : 250px;
        font-size: 18px;
    }
    .pictograms{
        width : 66px;
        height : 60px;
        margin-top : 35px;
        margin-bottom : 30px;        
    }
    
    #article4 {
    }

    #article4 >.mainInner>div:first-child{
        max-width : calc(100% - 64px);
        margin : 0 auto;    
    }


    #article4 >.mainInner>div:first-child > div{
        padding : 40px;
    }

    #a4secondBox{
        margin : 70px 0;
        text-align: center;
    }

    #a4secondBox > div{
        flex-direction: column;
    }

    #a4thirdBox .swiper-slide {
        width : auto;
    }

    .thirdInfoBox {
        width : 260px;
        min-height : 314px;
        padding:  30px 22px;
    }

    .pictos2{
        width : 80px;
        height : 80px;
        left: calc(50% - 40px);        
    }

    .thirdInfoBox > div:nth-child(2) {
        margin-top: 41px;
        text-align: center;
    }
    .thirdInfoBox > div:nth-child(3) {
        text-align: center;
    }    
    .fs20{
        font-size : 16px;
    }

    #article5 {
        padding-top : 36px;
    }
    #article5 > .mainInner{
        padding-left : 32px;
    }

    .reviewBox{
        width : 296px;
    }
}
 